<button id="watchlist-modal-button" class="btn btn-primary {{ cssClass|default('huh_watchlist_action') }}" {{ dataAttributes|raw }}>
    <span class="watchlist-label">{{ link|default('Watchlist'|trans) }}</span>

    {% if itemCount is defined and itemCount > 0 %}
        <span class="badge badge-light {{ cssCountClass|default('huh_watchlist_item_count') }}">{{ itemCount }}</span>
    {% endif %}
</button>